@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Heebo', sans-serif;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
